<ion-app>

  <ion-content>
    <div class="contenedor">
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/imagenes/Icono-Perfil-Default.png" alt="Perfil Default"/>
          <br>
          <ion-card-title>Iniciar session</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input placeholder="Nombre de Usuario"></ion-input>
          <ion-input placeholder="Contraseña"></ion-input>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>